/*
 | Ask the Lecturer Styles
 | ----------------------------------------
 | Author: Charlie Benjafield
 | Package: Ask the Lecturer
 | Version: 1.0
 | Date: 4th November 2015
 | ----------------------------------------
 */

/*
 | Import Google Font
 */
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,700);

/*
 | Import Font Awesome
 */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

/*
 | Reset HTML Elements
 */
* {
	box-sizing:border-box;
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-family:'Lato', sans-serif;
	transition:color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

a { text-decoration:none; }

main {
	display:block;
	min-height:300px;
}

h1 { font-size:36px; }
h1 small {
	color:#999;
	font-weight:300;
	font-size:1em;
	display:block;
}

/*
 | Main Header
 */
header.main-header {
	background:#3a3f4e;
	height:80px;
	position:relative;
	display:block;
	line-height:80px;
}

/*
 | Navigation
 */
nav.main-nav {
	position:absolute;
	right:0; top:0;
	line-height:80px;
}

nav.main-nav a {
	color:#fff;
	font-weight:400;
	line-height:1.48em;
	padding:8px;
	margin:0 8px;
	border-bottom:2px solid transparent;
}

nav.main-nav a:last-child {
	margin-right:0;
}

nav.main-nav a:hover {
	border-bottom:2px solid #fff;
}

/*
 | The Logo Heading
 */
h1.logo {
	font-weight:600;
	color:#fff;
	font-size:1.8em;
}

/*
 | Useful Classes
 */
.wrapper {
	max-width:1000px;
	position:relative;
	margin:0 auto;
	display:block;
}

header::after {
	position:relative;
	content:" ";
	display:block;
	height:5px;
	width:100%;
	background-image:linear-gradient(to right, #008fe3, #d64169);
}

.b-r {
	border-right:1px solid #dcdcdc;
}

/*
 | Buttons
 */
.btn {
	border:0!important; /* Reset Borders */
	background:linear-gradient(#009ee7, #037fcd);
	display:inline-block;
	line-height:1.1em;
	padding:12px 20px;
	min-width:120px;
	color:#fff;
	font-weight:400;
	border-radius:3px;
	text-align:center;
	text-transform:uppercase;
	box-shadow:rgba(0, 0, 0, 0.24) 0 1px 2px;
	font-size:1em;
	cursor:pointer;
}

.btn i {
	margin-right:10px;
}

.btn:hover {
	background:#007fbc;
}

/*
 | Section
 */
section, footer {
	max-width:1000px;
	margin:30px auto;
	display:block;
}

section h1, section h2 {
	margin:10px 0 20px;
}

/*
 | Footer
 */
footer {
	border-top:1px solid #dcdcdc;
	padding:20px 0;
}

footer a, footer p {
	color:#999;
}

/*
 | Grid System
 */
.row {
	display:block;
}

.row::after, .form-group::after {
	display:table;
	clear:both;
	content:" ";
}

[class*='col'] {
	float:left;
	width:100%;
	padding:0 15px;
}

@media (min-width:768px) {

	.col-12 { width:100%; }
	.col-11 { width:91.66666667%; }
	.col-10 { width:83.33333333%; }
	.col-9 { width:75%; }
	.col-8 { width:66.66666667%; }
	.col-7 { width:58.33333333%; }
	.col-6 { width:50%; }
	.col-5 { width:41.66666667%; }
	.col-4 { width:33.33333333%; }
	.col-3 { width:25%; }
	.col-2 { width:16.66666667%; }
	.col-1 { width:8.33333333%; }

}

/*
 | Alignment
 */
.txt-l { text-align:left; }
.txt-c { text-align:center; }
.txt-r { text-align:right; }

/*
 | Lecture List
 */
ul {
	list-style-type:none;
}

ul li {
	display:block;
	margin:10px 0;
	padding:15px 10px;
	background:#037fcd;
	border-radius:3px;
	font-weight:600;
	color:#fff;
	position:relative;
	cursor:pointer;
}

ul li:hover {
	box-shadow:rgba(0, 0, 0, 0.44) 0 1px 5px;
}

ul li small {
	position:absolute;
	right:10px;
	font-size:1em;
	font-weight:300;
}

/*
 | Forms
 */
input:not([type="submit"]), textarea, select {
	width:100%;
	padding:8px 12px;
	font-size:1.1em;
	border:1px solid #dcdcdc;
	border-radius:3px;
}

.form-group {
	margin:15px 0;
}

label {
	margin:0 0 15px;
	display:block;
}

/*
 | Question Form
 */
.question-form {
	padding:10px;
	border:1px solid #dcdcdc;
	border-radius:3px;
	box-shadow:rgba(0, 0, 0, 0.24) 0 1px 2px;
}

.question-form label {
	font-size:1.4em;
	font-weight:600;
}

/*
 | Error messages
 */
.error-message {
	background:#d84050;
	padding:10px;
	color:#fff;
	border-radius:3px;
}

/*
 | Handling questions
 */
.answered-toggle {
	position:absolute;
	right:10px;
}













