<!-- Build the application header -->
<header class="main-header">
	<div class="wrapper">
		<!-- The logo for the application -->
		<h1 class="logo"><i class="fa fa-mortar-board"></i>Ask the Lecturer</h1>
		<!-- The application navigation -->
		<nav class="main-nav">
		{{#if logged_in}}
			{{#link-to 'lectures'}}Lectures{{/link-to}}
			{{#link-to 'questions'}}My Questions{{/link-to}}
			{{#link-to 'logout'}}Logout{{/link-to}}
			{{#link-to 'lectures.create' class="btn"}}<i class="fa fa-plus"></i>Create Lecture{{/link-to}}
		{{/if}}
		</nav>
	</div>
</header>

<!-- Application main content area -->
<main>

	{{outlet}}

</main>

<!-- Application footer -->
<footer>
	<div class="col-4 txt-l">
		<p><a href="http://cbenjafield.com/">&copy; Charlie Benjafield, 2015</a></p>
	</div>
	<div class="col-4 txt-c">
		<p><em>Edge Hill University</em></p>
	</div>
	<div class="col-4 txt-r">
		<p><em>CIS3126</em></p>
	</div>
</footer>