<section>
	
	<!-- Div to contain the login and register forms -->
	<div class="row">

		<!-- Register form -->
		<div class="col-6 b-r">
			<h2>Register</h2>
			<form action="" method="post">
				{{#if reg_error}}
				<div class="error-message">
					<p>{{reg_message}}</p>
				</div>
				{{/if}}
				<div class="form-group">
					<label>Display Name</label>
					{{input placeholder="Joe Bloggs" value=reg_display_name}}
				</div>
				<div class="form-group">
					<label>Email Address</label>
					{{input type="email" placeholder="someone@something.com" value=reg_email}}
				</div>
				<div class="form-group">
					<label>Password</label>
					{{input type="password" placeholder="Password" value=reg_password}}
				</div>
				<div class="form-group">
					<label>Confirm Password</label>
					{{input type="password" placeholder="Confirm Password" value=reg_confirm}}
				</div>
				<div class="form-group">
					<!-- Button with the register action -->
					<button class="btn" {{action 'register'}}>Login</button>
				</div>
			</form>
		</div>

		<!-- Login form -->
		<div class="col-6">
			<h2>Login</h2>
			<form action="" method="post">
				{{#if login_error}}
				<div class="error-message">
					<p>{{login_message}}</p>
				</div>
				{{/if}}
				<div class="form-group">
					<label>Email Address</label>
					{{input type="email" placeholder="someone@something.com" value=login_email}}
				</div>
				<div class="form-group">
					<label>Password</label>
					{{input type="password" placeholder="Password" value=login_password}}
				</div>
				<div class="form-group">
					<!-- Button with the login action -->
					<button class="btn" {{action 'login'}}>Login</button>
				</div>
			</form>
		</div>

	</div>

</section>
{{outlet}}