<!-- Contain the content in a section -->
<section>

	<h2>Questions I&apos;ve Asked</h2>
	
	<!-- Unordered list to store the questions -->
	<ul>
		<!-- Loop through the model to display each question in a list -->
		{{#each model as |question|}}
		<li {{action 'go_to_lecture' question.lecture}}>
			<span>{{question.question}}</span>
		</li>
		{{/each}}
	</ul>

</section>
{{outlet}}