<!-- Organise content into a section element -->
<section>
	
	<h2>Create a lecture</h2>

	<!-- The create lecture form -->
	<form action="" method="post">
		<div class="form-group">
			<label>Title</label>
			{{input placeholder="What is the new lecture's title?" value=lecture_title}}
		</div>
		<div class="form-group">
			<label>Date</label>
			{{input placeholder="What is the date of the new lecture?" value=lecture_date}}
		</div>
		<div class="form-group">
			<button class="btn" {{action 'save_lecture'}}>Save Lecture</button>
		</div>
	</form>

</section>
{{outlet}}