<!-- Contain the content in a section -->
<section>

	<h2>Available Lectures</h2>
	
	<!-- Unordered list to store the lectures -->
	<ul>
		<!-- Loop through the model to display each lecture in a list -->
		{{#each model as |lecture|}}
		<li {{action 'go_to_lecture' lecture}}>
			<span>{{lecture.title}}</span>
			<small>{{lecture.date}}</small>
		</li>
		{{/each}}
	</ul>

</section>
{{outlet}}