<!-- Organise the content into a section element -->
<section>

	<h1>{{model.title}} <small>{{model.date}}</small></h1>

	<!-- Add a question form -->
	<section class="question-form">

		<form action="" method="post">
			<div class="row">
				<label>Ask a question...</label>
			</div>
			<div class="row">
				<div class="col-10">
					<div class="form-group">
						{{input placeholder="Write your question here..." value=question_text}}
					</div>
				</div>
				<div class="col-2">
					<div class="form-group">
						<button class="btn" {{action 'save_question' model}}>Ask now</button>
					</div>
				</div>
			</div>
		</form>

	</section>

	<h2>Existing Questions</h2>

	<!-- Unordered list to list out the questions -->
	<ul>
		<!-- Loop through the questions -->
		{{#each model.questions as |question|}}
		<li {{action 'toggle' question}}>
			<span>{{question.question}}</span>
			{{#if question.answered}}
				<span class="answered-toggle"><i class="fa fa-check"></i> Answered</span>
			{{else}}
				<span class="answered-toggle"><i class="fa fa-times"></i> Unanswered</span>
			{{/if}}
		</li>
		{{/each}}
	</ul>

</section>
{{outlet}}